<% content_for :title, I18n.t("activerecord.models.car.other") %>

<div class="container mx-auto px-4 py-8">
  <div class="flex justify-between items-center mb-8">
    <h1 class="text-4xl font-bold">
      <%= I18n.t("activerecord.models.car.other") %>
    </h1>
    <%= link_to new_car_path, class: "btn btn-primary" do %>
      <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6 mr-2" fill="none" viewBox="0 0 24 24" stroke="currentColor">
        <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 4v16m8-8H4" />
      </svg>
      Nuevo coche
    <% end %>
  </div>

  <div id="cars" class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6">
    <% @cars.each do |car| %>
      <% cache car do %>
        <div class="card bg-base-100 shadow-xl">
          <%= render car %>
          <div class="card-actions justify-end p-4">
            <%= link_to "Ver detalles", car, class: "btn btn-ghost" %>
          </div>
        </div>
      <% end %>
    <% end %>
  </div>


  <div class="flex justify-center mt-8">
    <%== pagy_nav(@pagy) %>
  </div>

</div>
